		<nav class="pt-2" aria-label="breadcrumb">
		  <ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page" id="lblMode" tkey="rpt.status">Dashboard</li>
		  </ol>
		</nav>
		
		<table id="crplist" class="display nowrap" style="width:100%">
			<thead>
				<tr>
					<th tkey="crp_name">CRP Name</th>
					<th tkey="crp_phone">CRP Phone</th>
					<th tkey="crp_cluster">Cluster</th>
					<th tkey="crp_portfolio">Portfolio</th>
					<th tkey="crp_inhand">In Hand</th>
					<th tkey="crp_disbursed">Disbursed</th>
					<th tkey="crp_collected">Collected</th>
					<th tkey="crp_outstanding">Outstanding</th>
					<th tkey="crp_lastactivity">Last Activity</th>
				</tr>
			</thead>
		</table>
