  <form id="txnForm" class="app-form" action="/mob/txn" method="post" replace="app-main" mod="TXN">  
  <div class="container">
	<div class="row g-3 mb-4">	
	  <div class="col-6">
		<input class="form-control" type="hidden" id="txnid" value="" name="txn_id">	  
		<label for="inputEmail4" class="form-label" tkey="mem_id">MemberID</label>
		<input class="form-control" type="text" value="{{mem_info.mem_id}}" aria-label="readonly input example" readonly name="mem_id">
	  </div>
	  <div class="col-6">
		<label for="cep_name" class="form-label" tkey="mem_name">Member Name</label>
		<input class="form-control" id="cep_name" value="{{mem_info.mem_name}}" aria-label="readonly input example" readonly>
	  </div>
	  
	  <div class="col-12">
		<label for="inputState" class="form-label" tkey="txn_type">Type</label>
		<select id="inputState" class="form-select" name="txn_type" required>
		{% if (mem_info.mem_amtrec == 0) %}
		  <option value="txn_disbursed" selected tkey="txn_disbursed">Disbursed</option>
		{% else %}
		  <option value="txn_collected" tkey="txn_collected">Collected</option>
		  <option value="txn_due" tkey="txn_due">Due</option>		  
		{% endif %}
		</select>
	  </div>
	  <div class="col-12">
		<label for="txnDate" class="form-label" tkey="txn_date">Date</label>
		<input type="date" class="form-control" id="txnDate" value="" name="txn_date" required def_today>
	  </div>
	  <div class="col-12">
		<label for="portfolio" class="form-label" tkey="txn_amount">Amount</label>
		<input type="number" class="form-control" id="portfolio" value="" name="txn_amt" required>
	  </div>
	  
	</div>  
  </div>
  
  	<div class="btn-group d-flex fixed-bottom">
		<button type="submit" class="btn btn-primary" tkey="save">Save</button>
		<a href="#" onclick="loadPage('/mob/txns/{{mem_info.mem_id}}','app-main','TXN');return false;" type="button" class="btn btn-primary" tkey="cancel">Cancel</a>
	</div>
  </form>
