  <div class="container" style="padding-bottom:70px">
	<table id="memlist" class="display nowrap" style="width:100%">
        <thead>
            <tr>
				<th tkey="mem_name">Member Name</th>
				<th tkey="mem_spouse">Spouse Name</th>
				<th tkey="mem_purpose">Activity</th>
				<th tkey="mem_amount">Total Amount</th>
				<th tkey="mem_disbursed">Disbursed</th>
				<th tkey="mem_collected">Collected</th>
				<th tkey="mem_outstanding">Outstanding</th>
				<th tkey="mem_lastactivity">Last Activity</th>
            </tr>
        </thead>
    </table>
  </div>
	<div class="btn-group d-flex fixed-bottom">
		<a href="#" onclick="loadPage('/mob/mem/new/{{shgid}}','app-main','newMEM');return false;" type="button" class="btn btn-primary" tkey="new_mem">New Member</a>
	</div>
  