  <div class="container" style="padding-bottom:70px">
	<table id="shglist" class="display nowrap" style="width:100%">
        <thead>
            <tr>
					<th tkey="shg_name">SHG Name</th>
					<th tkey="shg_village">Village</th>
					<th tkey="shg_fullname">Full Name</th>
					<th tkey="shg_cluster">Cluster</th>
					<th tkey="shg_members">Members</th>
					<th tkey="shg_disbursed">Disbursed</th>
					<th tkey="shg_collected">Collected</th>
					<th tkey="shg_lastactivity">Last Activity</th>
            </tr>
        </thead>
    </table>
  </div>
